.new-product-card {
  max-width: 300px;
  margin: 0 5px;
  transition: box-shadow 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  opacity: 1;
  position: relative;
  align-items: center;
  cursor: pointer;
}
.new-product-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1); 
  transition: transform 0.2s ease-in-out;
}

.new-card-strip {
  display: flex;
  justify-content: center;
}
.new-arrowposition {
  display: flex;
  font-size: 3em;
  cursor: pointer;
  justify-content: center;
  border-radius: 50%;
}
.new-arrow-button{
border-radius: 50%;
width: 3rem;
height: auto;
align-items: center;
justify-content: center ;
margin: 10px;
padding: 20px;

}
.new-arrow-button:hover {
  background-color: #e8e7e7; 
  color: #120c0c; 
}
/* custom-button-mindy1 */
  .new-custom-button1 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color:#86BFC8; 
    color: #ffffff; 
    border: 2px solid #86BFC8; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button1:hover {
    color: #ffffff; 
  }



  .new-custom-button2 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px; 
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #5a9ef9; 
    color: #ffffff; 
    border: 2px solid #5a9ef9; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button2:hover {
    color: #ffffff; 
  }
  .new-custom-button3 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px; 
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #36A1F2; 
    color: #ffffff; 
    border: 2px solid #36A1F2; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button3:hover {
    background-color: #2980b9; 
    color: #ffffff; 
  }


  .new-custom-button2_1 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
    justify-content: center;
    display: flex;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #e575b7; 
    color: #ffffff; 
    border: 2px solid #e575b7; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button2_1:hover {
    color: #ffffff; 
  }
  .new-custom-button2_2 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
    justify-content: center;
    display: flex;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #96d06a; 
    color: #ffffff; 
    border: 2px solid #96d06a; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button2_2:hover {
    color: #ffffff; 
  }

  .new-custom-button2_3 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
    justify-content: center;
    display: flex;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #4acadc; 
    color: #ffffff; 
    border: 2px solid #4acadc; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button2_3:hover {
    color: #ffffff; 

  }
  .new-custom-button3_1 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #147FC8; 
    color: #ffffff; 
    border: 2px solid #147FC8; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button3_1:hover {
    color: #ffffff; 
  }


  .new-custom-button3_2 {
    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px; 
    margin: 10PX; 

    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #7CF14C; 
    color: #ffffff; 
    border: 2px solid #7CF14C; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button3_2:hover {
    color: #ffffff; 
  }
  .new-custom-button3_3 {
    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
    margin: 10PX; 
    border-radius: 400%; 
    
    text-decoration: none;
    cursor: pointer;
    background-color: #f5001a; 
    color: #ffffff; 
    border: 2px solid #f5001a; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button3_3:hover {
    color: #ffffff; 
  }
  .new-custom-button4_1 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #c1beb1; 
    color: #ffffff; 
    border: 2px solid #c1beb1; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button4_1:hover {
    color: #ffffff; 
  }
  .new-custom-button4_2 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #433a35; 
    color: #ffffff; 
    border: 2px solid #433a35; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button4_2:hover {
    color: #ffffff; 
  }
  .new-custom-button5_1 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #6b464d; 
    color: #ffffff; 
    border: 2px solid #6b464d; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button5_1:hover {
    color: #ffffff; 
  }
  .new-custom-button6_1 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #fa6a2c; 
    color: #ffffff; 
    border: 2px solid #fa6a2c; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button6_1:hover {
    color: #ffffff; 
  }

  .new-custom-button6_2 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #861308; 
    color: #ffffff; 
    border: 2px solid #861308; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button6_2:hover {
    color: #ffffff; 
  }
  .new-custom-button7_1 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #0197f6; 
    color: #ffffff; 
    border: 2px solid #0197f6; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button7_1:hover {
    color: #ffffff; 
  }
  .new-custom-button7_2 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #e6373e; 
    color: #ffffff; 
    border: 2px solid #e6373e; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button7_2:hover {
    color: #ffffff; 
  }
  .new-custom-button7_3 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #f43c57; 
    color: #ffffff; 
    border: 2px solid #f43c57; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button7_3:hover {
    color: #ffffff; 
  }

  .new-custom-button7_4 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #4be787; 
    color: #ffffff; 
    border: 2px solid #4be787; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .new-custom-button7_4:hover {
    color: #ffffff; 
  }

  
/* h2css */
.new-productmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin-bottom: 5px;
    font-size: 1.5em;
}
.btn2-handle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.btn1-handle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn3-handle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn4-handle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn5-handle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn6-handle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn7-handle{
  display: flex;
  justify-content: center;
  align-items: center;
}