.trend-product-card {
    max-width: 300px;
    /* margin: 0 5px; */
    transition: box-shadow 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    /* opacity: 1; */
    position: relative;
    align-items: center;
    cursor: pointer;
}
.trend-product-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    /* transform: scale(1);  */
    /* transition: transform 0.2s ease-in-out; */
  }

.trend-card-strip {
    display: flex;
    justify-content: center;
}
.trend-arrowposition {
    display: flex;
    font-size: 3em;
    cursor: pointer;
    justify-content: center;
    border-radius: 50%;
}
.trend-arrow-button{
  border-radius: 50%;
width: 3rem;
height: auto;
align-items: center;
justify-content: center ;
margin: 10px;
padding: 20px;

}
  .trend-arrow-button:hover {
    background-color: #e8e7e7; 
    color: #120c0c; 
  }
/* trend-custom-button-mindy1 */
  .trend-custom-button-mindy1 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color:#93969a; 
    color: #ffffff; 
    border: 2px solid #93969a; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy1:hover {
    color: #ffffff; 
  }



  .trend-custom-button-mindy2 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px; 
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #86bfc8; 
    color: #ffffff; 
    border: 2px solid #86bfc8; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy2:hover {
    color: #ffffff; 
  }
  .trend-custom-button-mindy3 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px; 
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #36A1F2; 
    color: #ffffff; 
    border: 2px solid #36A1F2; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy3:hover {
    background-color: #2980b9; 
    color: #ffffff; 
  }


  .trend-custom-button-mindy2_1 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px; 
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #86bfc8; 
    color: #ffffff; 
    border: 2px solid #86bfc8; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy2_1:hover {
    color: #ffffff; 
  }
  .trend-custom-button-mindy2_2 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px; 
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #96d06a; 
    color: #ffffff; 
    border: 2px solid #96d06a; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .trend-custom-button-mindy2_2:hover {
    color: #ffffff; 
  }

  .trend-custom-button-mindy2_3 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px; 
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #36A1F2; 
    color: #ffffff; 
    border: 2px solid #36A1F2; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy2_3:hover {
    color: #ffffff; 

  }
  .trend-custom-button-mindy3_1 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #147FC8; 
    color: #ffffff; 
    border: 2px solid #147FC8; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy3_1:hover {
    color: #ffffff; 
  }


  .trend-custom-button-mindy3_2 {
    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px; 
    margin: 10PX; 

    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #7CF14C; 
    color: #ffffff; 
    border: 2px solid #7CF14C; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy3_2:hover {
    color: #ffffff; 
  }
  .trend-custom-button-mindy3_3 {
    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
    margin: 10PX; 
    border-radius: 400%; 
    
    text-decoration: none;
    cursor: pointer;
    background-color: #f5001a; 
    color: #ffffff; 
    border: 2px solid #f5001a; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy3_3:hover {
    color: #ffffff; 
  }
  .trend-custom-button-mindy3_4 {
    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
    margin: 10PX; 
    border-radius: 400%; 
    
    text-decoration: none;
    cursor: pointer;
    background-color: #f5001a; 
    color: #ffffff; 
    border: 2px solid #f5001a; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy3_4:hover {
    color: #ffffff; 
  }

  .trend-custom-button-mindy4_1 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #5f5644; 
    color: #ffffff; 
    border: 2px solid #5f5644; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy4_1:hover {
    color: #ffffff; 
  }
  .trend-custom-button-mindy4_2 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #433a35; 
    color: #ffffff; 
    border: 2px solid #433a35; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy4_2:hover {
    color: #ffffff; 
  }
  .trend-custom-button-mindy5_1 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #a3f1b7; 
    color: #ffffff; 
    border: 2px solid #a3f1b7; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy5_1:hover {
    color: #ffffff; 
  }
  .trend-custom-button-mindy6_1 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #2782c5; 
    color: #ffffff; 
    border: 2px solid #2782c5; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy6_1:hover {
    color: #ffffff; 
  }

  .trend-custom-button-mindy6_2 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #861308; 
    color: #ffffff; 
    border: 2px solid #861308; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy6_2:hover {
    color: #ffffff; 
  }
  .trend-custom-button-mindy7_1 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #0197f6; 
    color: #ffffff; 
    border: 2px solid #0197f6; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy7_1:hover {
    color: #ffffff; 
  }
  .trend-custom-button-mindy7_2 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #e6373e; 
    color: #ffffff; 
    border: 2px solid #861308; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy7_2:hover {
    color: #ffffff; 
  }
  .trend-custom-button-mindy7_3 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #f43c57; 
    color: #ffffff; 
    border: 2px solid #f43c57; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy7_3:hover {
    color: #ffffff; 
  }

  .trend-custom-button-mindy7_4 {
    margin: 10PX; 

    height: 30px;
    width: 20px;
    display: inline-block;
    padding: 20px 20px;
     
    border-radius: 400%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #4be787; 
    color: #ffffff; 
    border: 2px solid #861308; 
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  .trend-custom-button-mindy7_4:hover {
    color: #ffffff; 
  }

  
/* h2css */
.trend-productmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin-bottom: 5px;
    font-size: 1.5em;
}
.allbtn{
  display: flex;
  justify-content: center;
}